.review {
  display: block;
  background-color: #dcdcdcf2;
  border-radius: 18px;
  width: 38rem;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  &__card {
    &-top {
    }
    &-bottom {
    }
  }
  &__img {
  }
}
