@use "../../../sass/libs/mixins";
@use "../../../sass/libs/animations";
@mixin border-top {
  //DEFINES BORDER RARIOUS ON SCREEN SIZE
  // @include mixins.respond(tab-port) {
  //   border-radius: 25px;
  // }
  @include mixins.respond(phone) {
    border-radius: 0 0 25px 25px;
  }
}
.user__page {
  height: 85vh;
  margin-bottom: 1.8rem;
  background-size: contain;
  background-position: top;
  background-color: #eaeaea;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  @include border-top;

  // @include mixins.respond(lap-top) {
  //   flex-wrap: wrap;
  //   height: 153vh;
  // }
  @include mixins.respond(tab-port) {
    flex-direction: column;
    height: 130vh;
  }
  @include mixins.respond(phone-small) {
    flex-direction: column;
    height: 177vh;
  }

  &-block {
    // display: flex;
    &__welcome {
      left: 33%;
      width: 41rem;
      position: absolute;
      top: 49%;
      font-size: 1.8rem;
      font-weight: 300;

      @include mixins.respond(tab-port) {
        left: 51%;
        width: 34rem;
        top: 45%;
        font-size: 2.7rem;
      }
    }

    &__left {
      background-color: #ff9797;
      border-radius: 25px;
      min-width: 102rem;
      z-index: 2;
      -webkit-box-shadow: 0 2.5rem 3rem 2rem rgba(0, 0, 0, 0.36);
      box-shadow: 0 2.5rem 3rem 2rem rgba(0, 0, 0, 0.36);

      @include mixins.respond(tap-land) {
        min-width: 120rem;
      }

      @include mixins.respond(tab-port) {
        min-width: 102rem;
        border-radius: 0 0 25px 25px;
      }
    }

    &__right {
      //< fin the best encode for the picture
      position: relative;
      background-color: #fff;
      border-radius: 0 25px 25px 0;
      width: 87rem;
      margin-left: -2rem;
      -webkit-box-shadow: 0 2.5rem 3rem 2rem rgba(0, 0, 0, 0.36);
      box-shadow: 0 2.5rem 3rem 2rem rgba(0, 0, 0, 0.36);

      @include mixins.respond(tab-land-plus) {
        display: none;
      }
      @include mixins.respond(tab-land) {
        display: none;
      }
      @include mixins.respond(tab-port) {
        display: none;
      }

      &-logo {
        left: 37%;
        width: 30rem;
        position: absolute;
        top: 38%;
        @include mixins.respond(lap-top-medium) {
          left: 33%;
          width: 23rem;
          position: absolute;
          top: 41%;
        }
        @include mixins.respond(tab-land) {
          left: 31%;
          width: 41rem;
          position: absolute;
          top: 38%;
        }
      }
      @include mixins.respond(tab-port) {
        margin-top: -4.2rem;
        height: 39.6rem;
        width: 102%;
        position: relative;
        border-radius: 25px;
      }
    }

    &__outright {
      display: flex;
      flex-direction: column;
      margin-left: -2.7rem;
      border-radius: 0 25px 25px 0;
      min-width: 54rem;
      background-color: #000000b8;
      overflow: hidden;
      padding-right: 0.6rem;
      background-image: url("/src/assets/img/trax-6.jpg");
      background-position: right;

      @include mixins.respond(lap-top) {
        flex-direction: row;
        margin-left: -5rem;
        border-radius: 25px;
        margin-top: 1.2rem;
        height: 57rem;
        padding-bottom: 1.2rem;
        display: none;
      }
      @include mixins.respond(tab-land-plus) {
        width: 75.6rem;
        flex-direction: column;
        height: 100%;
        margin-top: 0;
        padding-bottom: 1.2rem;
        display: flex;
      }
      @include mixins.respond(tap-land) {
        display: none;
      }

      @include mixins.respond(tab-port) {
        padding-right: 0;
        flex-direction: row;
        border-radius: 25px;
        margin-left: 0;
        width: 117rem;
        height: 54rem;
        margin-top: 1.2rem;
        padding: 0.6rem;
        margin-left: 0.6rem;
      }

      @include mixins.respond(phone-large) {
        border-radius: 25px;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      &-upper {
        //background-color: #a86363;
        border-radius: 0 25px 25px 0;
        display: flex;
        width: 100%;
        height: 45%;
        margin-top: 4rem;
        @include mixins.respond(lap-top) {
          margin-top: 8rem;
          border-radius: 25px;
          height: 103%;
        }
        @include mixins.respond(tab-port) {
          margin-top: 0;
          border-radius: 25px;
          margin-top: 0;
          height: 101%;
        }
        @include mixins.respond(phone-large) {
          margin-top: 0;
          height: 50%;
          width: 100%;
        }
      }

      &-lower {
        background-color: #eaeaea;
        border-radius: 0 25px 25px 0;
        display: flex;
        width: 100%;
        height: 55%;
        margin-top: 0.6rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 2.6rem;
        grid-row-gap: 2.5rem;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: none;

        @include mixins.respond(lap-top) {
          border-radius: 25px;
          margin-left: 0.6rem;
          height: 100%;
        }
        @include mixins.respond(tab-port) {
          border-radius: 25px;
          margin-left: -64.4rem;
          margin-top: 0;
          height: 100%;
          width: 47%;
        }
        @include mixins.respond(phone-large) {
          border-radius: 25px;

          margin-top: 0.6rem;
          height: 55%;
          width: 99.3%;
        }
      }
    }

    ////OUTRIGHT-LO
    &__outright-lo {
      padding-right: 0;
      flex-direction: row;
      border-radius: 25px;
      margin-left: 0;
      width: 143rem;
      height: 48rem;
      margin-top: 1.2rem;
      padding: 0.6rem;
      margin-left: 0.6rem;
      display: flex;
      background-image: url("/src/assets/img/trax-6.jpg");
      background-position: right;
      display: none;

      @include mixins.respond(tab-land) {
        display: flex;
      }

      @include mixins.respond(phone-large) {
        flex-direction: column;
        border-radius: 25px;
        margin-left: 0;
        width: 136rem;
        height: 90rem;
        margin-top: 1.2rem;
        padding: 0.6rem;
        margin-left: 0.6rem;
        display: flex;
      }

      &-upper {
        //background-color: #a86363;
        margin-top: 0rem;
        border-radius: 25px;
        height: 101%;
        @include mixins.respond(phone-large) {
          margin-top: 0;
          height: 46%;
          width: 41%;
          /* text-align: center; */
          justify-content: center;
        }
      }

      &-lower {
        background-color: #eaeaea;
        border-radius: 0 25px 25px 0;
        display: flex;
        width: 100%;
        height: 55%;
        margin-top: 0.6rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.6rem;
        grid-row-gap: 2.5rem;
        overflow: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
        @include mixins.respond(phone-large) {
          border-radius: 25px;
          margin-top: -0.4rem;
          height: 54%;
          width: 99.3%;
        }
        @include mixins.respond(phone-small) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }

    &__bottom {
      height: 51rem;
      width: 98%;
      border-radius: 25px;
      display: none;
      margin: 1rem;

      @include mixins.respond(tab-land-plus) {
        display: block;
      }
      @include mixins.respond(tab-land) {
        display: block;
      }
      &-logo {
        left: 27%;
        width: 41rem;
        //position: absolute;
        top: 33%;
      }
    }
  }
  &-logo {
    position: absolute;
    left: 4rem;
    height: 8rem;
    top: 1.4rem;
    z-index: 6;
    @include mixins.respond(phone-large) {
      left: 2rem;
      height: 11rem;
      top: 0.4rem;
    }

    @include mixins.respond(phone) {
      height: 11rem;
      left: 16.6rem;
      top: 85.5rem;
    }

    @include mixins.respond(phone-small) {
      left: 0.6rem;
      height: 14rem;
      top: -3rem;
    }

    &-box {
      height: 120px;
      transition: all 0.5s;
      @include animations.animationModel(moveInLeft, 1s, ease-out);
      @include mixins.respond(phone) {
        height: 180px;
      }

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  &-view {
    // background-color: #eaeaea;
    max-width: 120rem;
    // margin: 0 auto;
    min-height: 99vh;
    border-radius: 3px;
    overflow: hidden;
    // -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    // box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.07);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include mixins.respond(tab-port) {
      min-height: 85vh;
    }
    @include mixins.respond(phone-small) {
      min-height: 98vh;
    }
  }

  &-menu {
    -webkit-box-flex: 32rem;
    -ms-flex: 32rem 0 0px;
    flex: 32rem 0 0;
    background-color: #ca7777;
    padding: 4rem 0;
    margin-top: 16.2rem;
    margin-bottom: 4.2rem;
    border-radius: 0 25px 25px 0;
    height: 78rem;
    -webkit-box-shadow: 0 2.5rem 8rem 2rem #00000036;
    box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.3117647059);
    // background-image: url("/src/assets/img/trax-6.jpg"); //PENDING
    // background-position: right;
    //background-image: linear-gradient(to right bottom, #53525229, #807e7e9f);

    @include mixins.respond(phone) {
      flex: 21rem 0 0;
    }

    @include mixins.respond(phone-small) {
      flex: 21rem 0 0;
      margin-top: 13.2rem;
      height: 80rem;
    }

    &__side-nav {
      list-style: none;
      @include mixins.respond(phone) {
        width: 21rem;
      }

      & li {
        margin: 0.39rem 0;
        border-left: 0 solid #fff;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
    }

    &__email {
      margin-bottom: -3rem;
      text-align: center;
      background-color: #ff9797;
      border-radius: 6px 6px 0 0;
      box-shadow: 0px -0.18rem 1rem 0.18rem rgba(0, 0, 0, 0.21);
    }
  }

  &-content {
    height: 93.5rem;
    -webkit-box-flex: 0.96;
    -ms-flex: 1;
    flex: 0.96;
    padding: 0.1rem 0;
    margin-left: 1.8rem;
    margin-top: 10.2rem;
    border-radius: 25px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: 0 0.5rem 2rem 0rem rgba(0, 0, 0, 0.211764705);

    @include mixins.respond(phone) {
      -webkit-box-flex: -1.04;
      -ms-flex: -1.04;
      flex: -1.04;
    }

    @include mixins.respond(phone-small) {
      margin-top: 3.2rem;
      -webkit-box-flex: -1.04;
      -ms-flex: -1.04;
      flex: 0.5;
    }
  }

  &-form {
    &__container {
      min-width: 57rem;
      margin: 0 auto;
      padding: 3rem 8rem;
      background-color: #eaeaea; //#ffffff1a;
      border-radius: 12px;
      -webkit-box-shadow: 0px 1rem 5rem 0rem rgba(0, 0, 0, 0.21);
      box-shadow: 0px 1rem 5rem 0rem rgba(0, 0, 0, 0.21);
      @include mixins.respond(phone-small) {
        padding: 3rem 3rem;
        min-width: 34rem;
      }
    }
  }
  & h1 {
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
  }

  & h2 {
    color: #353635d5;
    font-weight: 400;
    // margin-left: 4rem; ///on bigger than phone-large
    position: relative;
    top: -8.1%;
    font-size: 2.7rem;
  }

  & h3 {
    color: #7e7e7e;
    font-weight: 400;
    font-size: 2.7rem;
  }

  & h5 {
    font-size: 3.3rem;
    font-weight: 300;
    padding-left: 2.1rem;
  }
}

.side-nav {
  list-style: none;

  & li {
    margin: 0.39rem 0;
    border-left: 0 solid #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  &-active,
  & li:hover {
    border-left: 4px solid #fff !important;
  }
  &-active a {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  & a:link,
  & a:visited {
    padding: 2rem 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #eaeaea;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #eaeaea4f;
    border-radius: 0 9px 9px 0;
    margin-right: 0.6rem;
    @include mixins.respond(phone-small) {
      font-size: 1.5rem;
    }
  }

  & a:hover,
  & a:active {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
    box-shadow: 0px 0rem 2rem rgba(0, 0, 0, 0.15);
  }

  & svg {
    height: 1.9rem;
    width: 1.9rem;
    fill: #f7f7f7;
    margin-right: 2rem;
  }
}

.admin-nav {
  margin-top: 5.5rem;

  &__heading {
    margin: 0 5rem 1.5rem 4rem;
    padding-bottom: 3px;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f2f2f2;
    border-bottom: 1px solid currentColor;
  }
}

.liner__single {
  margin: 0.6rem 0;
  width: 100%;
  height: 1.5px;
  /* background-color: rgba(174, 167, 167, 0.3803921569); */
  border-radius: 9px;
}

.form {
  &__input {
    display: block;
    font-family: inherit;
    font-size: 1.8rem;
    color: #585757b7;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #fff;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* Pseudo element (a visible thing that isn't really in the DOM).
      Also needs -ms- */
    &:focus {
      outline: none;
      border-bottom: 3px solid #55c57a;
    }
    &:focus:invalid {
      border-bottom: 3px solid #ff7730;
    }
    &::-webkit-input-placeholder {
      color: #bbb;
    }
  }

  &__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  &_label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  &__photo-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.6rem;
  }

  &__user-photo {
    height: 11.5rem;
    width: 11.5rem;
    border-radius: 26%;
    margin-right: 2rem;
    -webkit-box-shadow: 0px 1rem 5rem 0rem rgba(0, 0, 0, 0.21);
    box-shadow: 0px 1rem 5rem 0rem rgba(0, 0, 0, 0.21);
  }

  &__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
      color: #55c57a;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid #55c57a;
      padding: 3px;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      cursor: pointer;
      border-radius: 6px;
    }

    & + label:hover {
      background-color: #55c57a;
      color: #fff;
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }
}

.flexer {
  display: flex;
  flex-direction: row;
}

.reviews {
}

.fav-tours {
  width: 45rem;
  margin-left: 5rem;
  padding: 1.5rem 0;
}
