@use "../libs/mixins";
@use "../libs/vars";
@use "../base/themeColors";
@use "../libs/breakpoints";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  overflow-x: hidden;
}
html {
  // This defines what 1rem is
  font-size: 62.5%;

  // //1 rem = 10px; 10px/16px = 62.5%
  // @include mixins.respond(phone-small) {
  //   // width < 1200?
  //   font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  // }
  @include mixins.respond(phone) {
    // width < 1200?
    font-size: 45.24%; //1 rem = 9px, 9/16 = 50%
  }
  // @include mixins.respond(phone-large) {
  //   // width < 1200?
  //   font-size: 50%; //1 rem = 9px, 9/16 = 50%
  // }
  @include mixins.respond(tab-land) {
    // width < 1200?
    font-size: 47%; //1 rem = 9px, 9/16 = 50%
  }

  @include mixins.respond(tab-port) {
    // width < 900?
    font-size: 48%; //1 rem = 8px, 8/16 = 50%
  }
  @include mixins.respond(tab-land-plus) {
    // width < 900?
    font-size: 48.25%; //1 rem = 8px, 8/16 = 50%
  }
  @include mixins.respond(lap-top) {
    font-size: 49%;
  }
  @include mixins.respond(lap-top-medium) {
    // width < 900?
    font-size: 49.5%; //1 rem = 8px, 8/16 = 50%
  }
  @include mixins.respond(lap-top-large) {
    // width < 900?
    font-size: 49.5%; //1 rem = 8px, 8/16 = 50%
  }
  @include mixins.respond(big-desktop) {
    font-size: 49.25%; //1rem = 12, 12/16
  }
}

//
//using inheritance for font family def
body {
  box-sizing: border-box;
  padding: vars.$body-padding-small;
  @include mixins.background(themeColors.$color-surface-dark);
  color: themeColors.$color-surface-light;

  @include mixins.respond(tab-port) {
    padding: 0;
  }
}

// ::selection {
//   @include mixins.background(themeColors.$color-surface-dark);
//   color: themeColors.$color-surface-light;
// }
