////////////////////////////////////
////////////////////////LIGHT THEME
$color-surface-light: #ffff;

$color-primary-light: #7ed56f;
$color-secondary-light: #55c57a;

$color-gradient-A: rgba(126, 213, 111, 0.71);
$color-gradient-B: rgba(40, 180, 133, 0.72);

////complementary
$color-inverse-primary-light: #ffff;
$color-inverse-primary-light: #ffff;
$color-surfaceContainerLow-light: #ffff;
$color-surfaceDim-light: #ffff;
$color-primaryFixedDim-light: #ffff;
$color-inverseSurface-light: #ffff;
$color-tertiary-light: #ffff;

$color-surface-light-transparent: #ffff;

//////DARK THEME
$color-surface-dark: #353333;
$color-surface-modal-dark: #1d1c1cce;

$color-primary-dark: #28b485;

$color-secondary-dark: #ffff;
$color-inverse-primary-dark: #ffff;
$color-surfaceContainerLow-dark: #ffff;
$color-surfaceDim-dark: #ffff;
$color-primaryFixedDim-dark: #ffff;
$color-inverseSurface-dark: #ffff;
$color-tertiary-dark: #ffff;
$color-surface-light-transparent: #ffff;

////////TRANSPARENT
$color-transaprent: rgba(255, 255, 255, 0);

////////////SHADOWS
$color-Surface-box-shadow: rgba(255, 251, 251, 0.2);
$color-Surface-box-shadow-med: rgba(63, 60, 60, 0.54);
$color-Surface-box-shadow-hard: rgba(63, 60, 60, 0.8);

$color-Surface-box-light: rgba(228, 226, 226, 0.842);

$color-inverseSurface-box-shadow: rgb(0, 0, 0, 0.15);
$color-inverseSurface-box-shadow-b: rgba(0, 0, 0, 0.36);

$color-surface-dark-soft: #35333357;

$color-branding-letter-main: #faf8f8f1;
$color-branding-letter-sub: #f3efefdc;

$colors-regular-btn: #2222224b;
$colors-regular-btn-letering: #ffffffd0;
$colors-nav-btn: #52505065;
$colors-footer-opacity: #262629;
$colors-top-navigator-bg: #22222252;

///////////////////////////////CURATED DESIGN
$colors-sections-base: #ffffff1f;
$colors-section-wrapper: #000000b0;
$colors-section-wrapper-shadow: #1d1c1cce;
$colors-section-wrapper-pale: #00000026;
